*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, a, li, label, button{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    font-weight: 700 !important;
}

p{
    margin-bottom: 0 !important;
}

// COLORES

$colorPrincipal: #E1A10B;
$colorSecundario: #b48108;
$colorBlanco: #fff;
$colorNegro: #000;
