/* ----------------------------------- MEDIA QUERIES ----------------------------------- */

@media only screen and (max-width: 600px){

    .navbar-nav {
        padding-left: 0rem;
    }

    .encabezado{
        flex-direction: column;
        padding: 0rem 0rem 2rem 0;
    }

    .nav-menu{
        flex-direction: column;
        gap: 1rem;
    }
    
    .seccion-uno h1{
        font-size: 2.5rem;
    }

    .slogan{
        font-size: 1.5rem;
    }

    .contenedor-uno{
        width: auto;
    }

    .seccion-uno{
        background-position: top;
    }

    .seccion-dos{
        flex-direction: column;
        padding: 3rem 2rem;
        gap: 0.1rem;

        & img{
            max-width: 20rem;
        }
    }

    .seccion-tres{
        padding: 3rem 2rem;
    }

    .titulo-dos{
        font-size: 2rem;
    }

    .seccion-cuatro {
        padding: 3rem 2rem;
    }

    .container-reservas{
        flex-direction: column;
        gap: 2rem;

        & img {
            max-width: 6rem;
        }
    }

    .seccion-cinco{
        padding: 3rem 2rem;
    }

    .container-shows{
        flex-direction: column;
        gap: 2rem;
    }

    .container-redes{
        flex-direction: column;
    }

    .seccion-uno-franquicias{
        padding: 3rem 2rem;

        & h1{
            font-size: 2.5rem;
        }

        & p {
            font-size: 1rem;
        }
    }

    .seccion-dos-franquicias{
        padding: 3rem 2rem;
        flex-direction: column;
    }

    .identidad-container{
        flex-direction: column;
        align-items: center;
    }

    .identidad{
        width: auto;
    }

    .seccion-tres-franquicias {
        padding: 3rem 2rem;

        & h2{
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .container-textos-franquicias p{
        font-size: 1rem;
    }

    .container-textoimg-franquicias{
        flex-direction: column-reverse;
    }

    .seccion-cuatro-franquicias{
        padding: 3rem 2rem;

        & h2{
            font-size: 2rem;
        }
    }

    .boton-dossier {
        padding: 0.5rem 1rem;
    }

    .seccion-uno-contacto{
        padding: 3rem 2rem;
        flex-direction: column;

        & form{
            width: auto;
        }
    }

    .seccion-uno-contacto-textos{
        width: auto;
    }

    .seccion-uno-quienes-somos{
        padding: 3rem 2rem;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        justify-content: center;
        row-gap: 1rem;
    }
}